
html { 
    width: 100%;
    height: 100%;
    background: url('bg1.png');
}

* {
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Lato';
}

#container {
    display: block;
}

.bg {
    position: fixed;
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.381);
    background-clip: padding-box;
    width: 34.8%;
    height: 83%;
    left: 30.56%;
    top: 8%;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}


.line {
    display: block;
    width: 29%;
    font-size: 16pt;
    max-width: 600px;
    height: 3.3%;
}

.button {
    display: block;
    font-size: 14pt;
    width: 15.65%;
    max-width: 300px;
    height: 3.7%;
}

#login {
    position: absolute;
    display: block;
    top: 55%;
    left: 33%;
    background-color: #FFF;
    border-radius: 10px;
    border: solid;
    border-image: linear-gradient(rgb(100, 33, 139), rgb(81, 129, 231)) 1;
    position: absolute;
}

#login:hover, #login:focus, #login:active, #password:hover, #password:focus, #password:active{
    outline: 0;
    outline-offset: 0;
}

#password {
    display: block;
    top: 61%;
    left: 33%;
    border-radius: 10px;
    background-color: #FFF;
    border: solid;
    border-image: linear-gradient(rgb(100, 33, 139), rgb(81, 129, 231)) 1;
    position: fixed;
}

#sign_in {
    position: absolute;
    text-decoration: none;
    margin-top: 35%;
    margin-left: 39%;
    display: block;
    /* padding: 15px 30px; */
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: white;
    transition: .15s ease-in-out;
}

#sign_in:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: #F137A6;
}

#sign_like_guest {
    display: block;
    background: transparent;
    border: none;
    font-size: 14pt;
    text-decoration: underline;
    top: 82%;
    position: fixed;
    left: 40%;
}

#sign_like_guest:hover{
    color: blue;
}

#logo{
    position: absolute;
    left: 36%;
    top: 3%;
    width: 25%;
}
