
html { 
    width: 100%;
    height: 100%;
    background: url('bg1.png');
}

* {
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Lato';
}

#container {
    display: block;
}

.bg {
    position: fixed;
    border: none;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.381);
    background-clip: padding-box;
    padding: 10px;
    width: 700px;
    height: 800px;
    left: 30.56%;
    top: 10%;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}


.line {
    display: block;
    width: 32.5%;
    max-width: 600px;
    height: 3.3%;
}

.button {
    display: block;
    font-size: 14pt;
    width: 15.65%;
    max-width: 300px;
    height: 3.7%;
}

#login {
    position: relative;
    display: block;
    top: 55%;
    left: 33%;
    background-color: #FFF;
    border-radius: 10px;
    border: solid;
    border-image: linear-gradient(rgb(100, 33, 139), rgb(81, 129, 231)) 1;
    position: absolute;
}

#password {
    display: block;
    top: 61%;
    left: 33%;
    border-radius: 10px;
    background-color: #FFF;
    border: solid;
    border-image: linear-gradient(rgb(100, 33, 139), rgb(81, 129, 231)) 1;
    position: fixed;
}

#sign_in {
    display: block;
    top: 75%;
    left: 41.15%;
    background: linear-gradient(35deg, rgb(100, 33, 139), rgb(81, 129, 231));
    border: none;
    color: black;
    position: fixed;
    border-radius: 16px;
}

#sign_in:hover {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2),
    0 2px 0 rgba(225, 225, 225, .4),
    inset 0 2px 0 rgba(0, 0, 0, .1);
}

#sign_like_guest {
    display: block;
    background: transparent;
    border: none;
    font-size: 14pt;
    text-decoration: underline;
    top: 80%;
    position: fixed;
    left: 41.15%
}

#sign_like_guest:hover{
    color: blue;
}

#logo{
    position: absolute;
    left: 35.9%;
    top: 8%
}
