<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Технострелка</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <input type="login" class="line login_line" id="login" name="login"></input>
        <input type="password" class="line password_line" id="password" name="password"></password>
        <div id="buttons_container">
            <button type="sign_in" class="button sign_in_bt" id="sign_in" name="sign_in"></button>
            <button type="sign_like_guest" class="button sign_like_guest_bt" id="sign_like_guest" name="sign_like_guest">Войти как гость</button></div>
        </div>
    </body>