<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Технострелка</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="/static/logo.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
        <script src="{{ url_for('static', filename='script_main.js') }}"></script>
    </head>
    <body>
        <div class="select" id="list">
            <input class="select__input" type="hidden" name="group_selector">
            <div class="select__head">Выберите группу</div>
            <ul class="select__list" style="display: none;">
                <li class="select__item">1П</li>
                <li class="select__item">2П</li>
                <li class="select__item">3П</li>
                <li class="select__item">4П</li>
            </ul>
        </div>
        <a href="" class="sliding-button" id="back"></a>
        <hr id="delimiter">
        <table class="table" id="table">
            <caption>Расписание групп</caption>
            <button id="schedule">Просмотреть расписание</button>
            <button id="teacher">Список учителей</button>
            <thead>
                <tr>
                    <th>Занятия</th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(4) %}
                    <tr>
                        <td>{{ i + 1 }} пара</td>
                    {% for j in range(5) %}

                        <td> {{ schedule[j][i] + (', 1П' if schedule[j][i] != '' else '') }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>