<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Технострелка</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="/static/logo.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
        <script src="{{ url_for('static', filename='script_main.js') }}"></script>
    </head>
    <body>
        <div class="select" id="list">
            <input class="select__input" type="hidden" id="group_selector">
            <div class="select__head">Выберите группу</div>
            <ul class="select__list" style="display: none;">
                <li class="select__item">1П</li>
                <li class="select__item">2П</li>
                <li class="select__item">3П</li>
                <li class="select__item">4П</li>
            </ul>
        </div>
        <a href="" class="sliding-button" id="back"></a>
        <hr id="delimiter">
        <table class="table" id="table">
            <caption>Расписание групп</caption>
            <button id="reload">Обновить</button>
            <button id="schedule">Просмотреть расписание</button>
            <button id="teacher">Список учителей</button>
            <button id="About_ass">О нас</button>
            <img src="https://sun9-66.userapi.com/impg/jD3EW_T42Tnfkusz9pGNUat2wfgDEdR1MOSfOQ/kgnN7GFjIhI.jpg?size=916x1080&quality=95&sign=d3dd6b08aa653af971dd3a83ff88e5b2&type=album "
            width="10%" height="10%" id="foto1">
            <img src="https://sun9-55.userapi.com/impg/5hEa0Y5WNXt0jps4sHsSVq7aDP2uhjBOyppAwA/bERVxY0KsBQ.jpg?size=380x439&quality=96&sign=4a80ae19c26b94fdf01843bd16fbbce1&type=album"
            width="10%" height="10%" id="foto2">
            <img src="https://sun1-26.userapi.com/impg/1bfKQ9s23dZS9NfHoySMR-qsb7xHV4DX4oT2xQ/Qxxct7HguBA.jpg?size=348x311&quality=96&sign=3cd40c8b608bc582c8d9aa35d0b71c3f&type=album"
            width="13%" height="13%" id="foto3">
            <h3 id="fio1">Рослов М.С</h3>
            <h1>О нас</h1>
            <h4>Состав команды: </h4>
            <h5>-Панкратов Дмитрий</h5>
            <h5>-Ахмедов Эльман</h5>
            <h5>-Рослов Максим</h5>
            <thead>
                <tr>
                    <th>Занятия</th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(4) %}
                    <tr>
                        <td>{{ i + 1 }} пара</td>
                    {% for j in range(5) %}
                        <td> {{ schedule[j][i] + (stat if schedule[j][i] != '' else '') }}
                            <!--Кнопки-->
                            {% if schedule[j][i] != '' %}
                                {% set a = ['i0','i1','i2','i3','i4','i5','i6','i7','i8','i9','i10','i11','i12','i13','i14','i15','i16','i17','i18','i19'] %}
                                <button name=a[i*5+j]>X</button>
                            {% endif %}
                            <!--end-->
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>