<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link rel="shortcut icon" href="/static/logo.png" type="image/png">
</head>
<body>
    <form class="form" method="post">
    <table id="fir">
    <tr><th>Понедельник</th><th>Вторник</th><th>Среда</th></tr>
        <tr><td><input name="in11"></td><td><input name="in21"></td><td><input name="in31"></td></tr>
        <tr><td><input name="in12"></td><td><input name="in22"></td><td><input name="in32"></td></tr>
        <tr><td><input name="in13"></td><td><input name="in23"></td><td><input name="in33"></td></tr>
        <tr><td><input name="in14"></td><td><input name="in24"></td><td><input name="in34"></td></tr>
    </table>
    <table id="sec">
    <tr><th>Четверг</th><th>Пятница</th></tr>
        <tr><td><input name="in41"></td><td><input name="in51"></td></tr>
        <tr><td><input name="in42"></td><td><input name="in52"></td></tr>
        <tr><td><input name="in43"></td><td><input name="in53"></td></tr>
        <tr><td><input name="in44"></td><td><input name="in54"></td></tr>
    </table>
    <button type="submit" class="btn btn-primary" id="submit_button">Заполнить данные</button>
    </form>
    <button id="but">Применить</button>
</body>
</html>